*~
README.html
*.sw[mnopqrst]
*.d
*.o
config/config
config/Config.hi
config/ConfigOutput.lhs
config/config.mf
*.a
*.hs
*.hi
Man.lhs
adpc.txt
interfacer/man2lhs
interfacer/Man2lhs.hi
interfacer/adpc-bin
interfacer/colecho
interfacer/man2c
adpcompile
interfacer/adpc
java/adpc.jar
java/dist/**/*.class
java/jar
java/fe